@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --font-heading: "Poppins", sans-serif;
  --font-paragraph: "Hind", sans-serif;
  --font-color: #757575;
  --color-background: #ffffff;
  --color-primary: #757575;
  --color-destructive: #ce4064;

  font-family: var(--font-paragraph);
  font-size: 1rem;
  color: var(--font-color);
  background-color: var(--color-background);
}

@theme {
  --breakpoint-xs: 24rem;
  --font-heading: var(--font-heading);
  --font-paragraph: var(--font-paragraph);
  --font-color: var(--font-color);
  --color-primary: var(--color-primary);
  --color-destructive: var(--color-destructive);
}

* {
  @apply box-border;
}

h2,
h3,
h4 {
  @apply font-heading mb-4;
}
h2 {
  @apply text-4xl font-extrabold;
}
h3 {
  @apply text-3xl font-bold;
}
h4 {
  @apply text-2xl font-bold;
}

.wrapper {
  @apply container mx-auto px-4 sm:px-25;
}

.divide-t,
.divide-b {
  @apply border-neutral-500/15;
}
.divide-t {
  @apply border-t;
}
.divide-b {
  @apply border-b;
}

.btn {
  @apply flex cursor-pointer items-center justify-center gap-2 rounded-lg border px-3 py-1.5 transition hover:scale-110 hover:opacity-75 hover:shadow-xl disabled:pointer-events-none disabled:opacity-15 sm:px-4 sm:py-2 sm:font-medium;
}
.btn-primary {
  @apply bg-primary border-primary text-white;
}
.btn-outline {
  @apply border-primary text-primary bg-transparent;
}
.btn-destructive {
  @apply bg-destructive border-destructive text-white;
}

.nav-item {
  @apply text-primary flex cursor-pointer items-center gap-1 font-medium transition hover:scale-110 hover:opacity-75;
}

.popover:focus-within {
  > button:first-child {
    @apply scale-110 opacity-75 transition;
  }
  .popover-menu {
    @apply visible z-10 translate-0 scale-100 opacity-100;
    li {
      @apply transition hover:opacity-50;
    }
  }
}

.alert {
  @apply animate-fade-down flex w-full max-w-md cursor-pointer items-center gap-6 rounded-lg border px-2 py-2 text-white transition hover:scale-110 hover:!opacity-75 hover:shadow-xl;
}
.alert-error {
  @apply border-destructive bg-destructive;
}
.alert-success {
  @apply border-teal-600 bg-teal-600;
}
.alert-warning {
  @apply border-amber-600 bg-amber-600;
}
.alert-info {
  @apply text-primary border-primary;
}

.ads-type {
  @apply bg-primary rounded px-2 py-1 text-xs font-medium text-white;
}
