@import "tailwindcss";

:root {
  --font-heading: "Poppins", sans-serif;
  --font-paragraph: "Hind", sans-serif;
  --font-color: #3a3b7b;
  --color-background: #ffffff;
  --color-primary: #7476ed;
  --color-destructive: #e56f8c;

  font-family: var(--font-paragraph);
  font-size: 1rem;
  color: var(--font-color);
  background-color: var(--color-background);
}

@theme {
  --breakpoint-xs: 24rem;
  --font-heading: var(--font-heading);
  --font-paragraph: var(--font-paragraph);
  --font-color: var(--font-color);
  --color-primary: var(--color-primary);
  --color-destructive: var(--color-destructive);
}

* {
  @apply box-border;
}

h1,
h2,
h3 {
  @apply font-heading mb-4;
}
h1 {
  @apply text-4xl font-extrabold;
}
h2 {
  @apply text-3xl font-bold;
}
h3 {
  @apply text-2xl font-bold;
}

.wrapper {
  @apply container mx-auto px-4 sm:px-25;
}

.divide-t,
.divide-b {
  @apply border-black/15;
}
.divide-t {
  @apply border-t;
}
.divide-b {
  @apply border-b;
}

.btn {
  @apply flex cursor-pointer rounded-lg border px-6 py-3 font-medium transition hover:scale-110 hover:opacity-75 hover:shadow-xl;
}
.btn-primary {
  @apply bg-primary border-primary text-white;
}
.btn-outline {
  @apply border-primary text-primary bg-transparent;
}
.btn-destructive {
  @apply bg-destructive border-destructive text-white;
}

.dropdown:focus-within .dropdown-menu {
  @apply visible translate-0 scale-100 opacity-100;
}
